<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/updateData" method="post">
        <input hidden type="text" name="id" value="<%=singleData.id%>">
        <input type="text" placeholder="Enter your name"  value="<%=singleData.name%>" name="name"/> <br><br>
        <input type="text" placeholder="Enter your Subject" value="<%=singleData.subject%>" name="subject"/> <br><br>
        <button type="submit">Update</button> <br> <br>
    </form>

</body>
</html>